*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #1B4156;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1252px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 386px 1fr;
  padding-top: 25px;
  column-gap: 218px;
}


.head {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head__h1 {
  font-size: 4em; /*64px*/
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.5%;
  text-align: left;
  margin-bottom: 33px;
}

.head__list {
  font-size: 1.8em;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.5%;
  text-align: left;
  margin-bottom: 72px;
}



.head__contact a {
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  color: white;
}

.head__contact a:first-child::before {
  content: url('/img/figma_logo.svg');
  margin-right: 12px;
}

.head__contact a:first-child {
  margin-right: 15px;
}

.head__contact a:last-child::before {
  content: url('/img/akar-icons_dribbble-fill.svg');
  margin-right: 12px;
  margin-left: 15px;
}


.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.card__article {
  border-radius: 8px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;

  &.test {
    padding: 0;
    grid-column: 1 / 3;
    flex-direction: row;
  } 
  &.most__article {
    grid-column: 1 / 2;

  }
  &.card__padding {
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    }
}

.most__article .card__content{
  padding: 0;
}

.s1 {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.5%;
  text-align: left;
  color: rgba(41, 198, 207, 1);
  font-weight: 500;
  display: block;
  margin-bottom: 30px;
}

.card__h1 {
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  text-align: left;
  margin-bottom: 8px;
}

.card__p {
  color: rgba(51, 51, 51, 1);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 1.5%;
  text-align: left;
  margin-bottom: 32px;
}

hr {
  border: 1px solid rgba(51, 51, 51, 1);
  opacity: 0.2;
  margin: 0;
}

.card__footer {
  padding-top: 19.5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card__name {
  color: rgba(51, 51, 51, 1);
  font-family: "Lato", "sans-serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.5%;
  padding-left: 33px;
}

.card__vievs {
  color: rgba(51, 51, 51, 1);
  font-family: "Lato", "sans-serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.5%;
  text-align: right;
}

.card__name::before {
  content: url('/img/Ellipse 1.webp');
  position: absolute;
  left: 0;
  top: 15px;
}


.card__vievs::before {
  content: url('/img/Iconly_Bold_Show.svg');
  position: relative;
  top: 2px;
  right: 8px;
}

.card__name_no-iamge {
  color: rgba(51, 51, 51, 1);
  font-family: "Lato", "sans-serif";
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.5%;
}

.card__content {
    flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.card__another {
    flex: 1 1 auto;
}

.card__fixed {
    padding-top: 16px;
}

.card__column {
    padding: 24px 24px 0 24px;
}

.card__footer, hr {
  flex-shrink: 0;
  margin-top: auto;
}

.hr__margin {
    margin: 0 24px;
}

.footer {
    padding: 19.5px 24px 24px 24px;
}

.with__image::before {
  content: url('/img/Ellipse2.webp');
  position: absolute;
  left: 24px;
}

.card__row {
  padding: 16px 20px;
}

@media (max-width: 1240px) {
    .container {
        column-gap: 68px;
    }
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        row-gap: 5rem;
    }
    .head {
        align-items: center;
    }    
}

@media (max-width: 625px) {
    .card {
        grid-template-columns: 1fr;
    }
}
